USE [master]
GO
/****** Object:  Database [QLSV_MYSEFL]    Script Date: 12/11/2025 12:44:26 AM ******/
CREATE DATABASE [QLSV_MYSEFL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_MYSEFL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QLSV_MYSEFL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_MYSEFL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QLSV_MYSEFL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV_MYSEFL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV_MYSEFL]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 12/11/2025 12:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](50) NOT NULL,
	[Count_Professor] [int] NOT NULL,
 CONSTRAINT [PK_Faculty] PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/11/2025 12:44:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[DTB] [float] NOT NULL,
	[FacultyID] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Count_Professor]) VALUES (1, N'Cong Nghe Thong Tin', 3)
INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Count_Professor]) VALUES (2, N'Tai Chinh Kinh Te', 4)
INSERT [dbo].[Faculty] ([FacultyID], [FacultyName], [Count_Professor]) VALUES (3, N'Tri Tue Nhan Tao', 5)
SET IDENTITY_INSERT [dbo].[Faculty] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentID], [FullName], [DTB], [FacultyID]) VALUES (238, N'Hoang Ngoc Toan', 6, 1)
INSERT [dbo].[Student] ([StudentID], [FullName], [DTB], [FacultyID]) VALUES (240, N'Pham Huu Tai', 8, 2)
INSERT [dbo].[Student] ([StudentID], [FullName], [DTB], [FacultyID]) VALUES (242, N'Le Vinh Khang', 9, 3)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Faculty] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculty] ([FacultyID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Faculty]
GO
USE [master]
GO
